In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("data2.csv")

In [3]:
df

    height  weight     sex
0      172      62    Male
1      187      98    Male
2      153      70  Female
3      183      90    Male
4      173      68  Female
5      173      53  Female
6      176      52  Female
7      173      56  Female
8      160      50  Female
9      175      87    Male
10     182     100    Male
11     165      72    Male
12     165      68    Male
13     170      80    Male
14     170      59  Female
15     159      63  Female
16     195     122    Male
17     162      53    Male
18     166      63    Male
19     172      65  Female
20     168      67  Female

In [4]:

x=df.drop(['sex'],axis=1)
y=df['sex'].values

In [20]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_sc = sc.fit_transform(x_train)
X_test_sc = sc.transform(x_test)

In [29]:
from sklearn.neighbors import KNeighborsClassifier
kn=KNeighborsClassifier(n_neighbors=5)
kn.fit(X_train_sc,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [30]:
y_pred_kn=kn.predict(X_test_sc)
y_pred_kn

array(['Female', 'Female', 'Male', 'Female', 'Female'], dtype=object)

In [31]:
y_test

array(['Male', 'Male', 'Male', 'Male', 'Male'], dtype=object)

In [32]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train_sc,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
y_pred_lr=lr.predict(X_test_sc)

## Logistic Regression

In [34]:
print(lr.score(x_test, y_pred_lr))

0.4

## KNN

In [35]:
print(kn.score(x_test, y_pred_kn))

0.2